language: python

python:
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5.0b3"
  - "pypy"

install: 
  - python setup.py install
  - pip install codecov

script: 
  - python poly1305.py
  - ls -a
  - coverage run poly1305.py
  - ls -a
  - coverage html poly1305.py
  - ls -a
  - coverage xml .poly1305.py
  - ls -a

after_success:
  - codecov
